# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.origam-twilio.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# User added files.
/.idea/
/origam-twilio-unitTest/bin
/origam-twilio-unitTest/obj
